.logo {
  background-color: rgb(177, 171, 171);
  width: 100%;
  height: 70px;
  top: 0;
}

* {
  box-sizing: border-box;
}

.parrafos {
  color: rgb(31, 145, 56);
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  position: relative;
  z-index: 5; /* Asegura que esté por debajo del header */
  background-color: rgb(177, 171, 171);
  color: black;
  width: 100%;
}

.collapse {
  background-color: rgb(177, 171, 171);
  width: 100%;
}

.boton-card {
  background-color: rgb(177, 171, 171) !important;
  border-radius: 0% !important;
}

.nav-container-sections {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 450px;
}

body {
  padding-top: 100px;
}

.imagenes-carrousel {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
}

.contenedor {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 0;
}

.cards {
  margin-bottom: 120px;
}

.card {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.card img {
  height: 200px;
  object-fit: contain; /* Asegura que la imagen completa sea visible */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen con un color negro semitransparente */
  z-index: 1; /* Coloca la capa por encima de la imagen */
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
  transition: transform 0.5s ease; /* Transición suave */
}

.boton-nav {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.boton-nav:hover {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(32, 156, 59) !important;
}

html,
body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina rellenos predeterminados */
}

header {
  position: relative; /* Define la posición del header */
  z-index: 10; /* Asegura que esté por encima del nav */
  background-color: rgb(177, 171, 171);
  height: 30px;
  align-items: center;
  align-content: center;
}

.formulario {
  margin-top: 40px;
}

form {
  width: 50%; /*Ajusta el ancho del furmulario al 50% del contenedor*/
  max-width: 400px; /*Limita el ancho máximo a 400px */
  margin: 0 auto;
}

.contenedor-contacto {
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(31, 145, 56);
  z-index: 10; /* Asegura que esté por encima de otros elementos */
  position: fixed;
}

.logos {
  padding-top: 15px;
}

.logos a {
  margin: 0 10px; /* Agrega un margen horizontal entre los logos */
  display: inline-block; /* Asegura que los logos estén en línea */
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
}

.banner h3 {
  top: 50%;
  position: absolute;
  color: white;
  font-style: oblique;
  font-size: 4em;
  top: 100px;
  margin-left: 70px;
  border-width: 2px;
  border-color: black;
}

.titulos {
  font-weight: bold;
  color: rgb(31, 145, 56);
  margin-top: 40px;
}

.boton-form {
  background-color: rgb(177, 171, 171) !important;
}

.boton-form:hover {
  background-color: rgb(31, 145, 56) !important;
  transform: scale(1.08);
}

.contenedor-fondo {
  position: relative; /* Necesario para posicionar la capa superpuesta */
  background-image: url("/proyecto_castillo_barberan/assets/img/foto_nosotros.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 30%;
  height: 500px;
}

@media (max-width: 768px) {
  .contenedor-fondo {
    height: 300px;
    padding: 20px;
    background-position: center top; /* Ajusta la posición de la imagen */
  }

  .row {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center;
  }

  .col-4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor-equipo {
    height: 10px; 
    padding: 20px; 
    background-position: center top; /* Ajusta la posición de la imagen */
}
}

/* Media queries para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
  .contenedor-fondo {
    height: 200px;
    padding: 10px;
    background-position: center top; /* Ajusta la posición de la imagen */
  }

  .row {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center;
  }

  .col-4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor-equipo {
    height: 10px; 
    padding: 10px; 
    background-position: center top; 
}
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.texto-superpuesto {
  position: relative; /* Asegura que el texto esté encima de la capa */
  z-index: 2; /* Coloca el texto por encima de la capa superpuesta */
  color: white;
  text-align: center;
  padding: 20px;
}

.titulo {
  font-weight: bold;
}

.contenedor-equipo {
  position: relative; /* Necesario para posicionar la capa superpuesta */
  background-image: url("/proyecto_castillo_barberan/assets/img/nosotros_empleados.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 10%;
  height: 100%;
}

.titulo-1 {
  font-weight: bold;
  margin-top: 200px;
  text-align: right;
  margin-right: 480px;
}

.objetivo {
  text-align: right;
  margin-right: 0px;
}

.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Oscurece la imagen con un color negro semitransparente */
  z-index: 1; /* Coloca la capa por encima de la imagen */
}