body {
  margin: 0;
  font-family: sans-serif;
  color: #aaa;
  background-color: #ddd !important;
  padding-top: 100px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo {
  background-color: transparent;
  width: 100%;
  height: 70px;
  top: 0;
}

* {
  box-sizing: border-box;
}

.parrafos {
  color: rgb(31, 145, 56);
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  position: relative;
  z-index: 5; /* Asegura que esté por debajo del header */
  background-color: rgb(177, 171, 171);
  color: black;
  width: 100%;
}

.nav-principal{
  background-color: rgb(177, 171, 171);
  color: black;
}

.nav-admin{
  background-color: rgb(60, 61, 60);
  color: white
}

.collapse-principal {
  background-color: rgb(177, 171, 171);
  width: 100%;
}

.collapse-admin {
  background-color: rgb(60, 61, 60);
  color: white;
  width: 100%;
}

.collapse-admin a {
  color: rgb(216, 215, 215);
  text-decoration: none;
  text-align: center;
}

.boton-card {
  background-color: rgb(177, 171, 171) !important;
  border-radius: 0% !important;
}

.nav-container-sections {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 450px;
}


.imagenes-carrousel {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
}

.contenedor {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 0;
}

.cards {
  margin-bottom: 120px;
}

.card {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.card img {
  height: 200px;
  object-fit: contain; /* Asegura que la imagen completa sea visible */
}

/* posible borrada */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Oscurece la imagen con un color negro semitransparente */
  z-index: 1; /* Coloca la capa por encima de la imagen */
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
  transition: transform 0.5s ease; /* Transición suave */
}

.boton-nav {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.boton-nav:hover {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(32, 156, 59) !important;
}

html,
body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina rellenos predeterminados */
}

header {
  position: relative; /* Define la posición del header */
  z-index: 10; /* Asegura que esté por encima del nav */
  background-color: rgb(177, 171, 171);
  height: 30px;
  align-items: center;
  align-content: center;
}

.formulario {
  margin-top: 40px;
}

form {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
}

.contenedor-contacto {
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(31, 145, 56);
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.logos {
  padding-top: 15px;
}

.logos a {
  margin: 0 10px; /* Agrega un margen horizontal entre los logos */
  display: inline-block; /* Asegura que los logos estén en línea */
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
}

.banner h3 {
  top: 50%;
  position: absolute;
  color: white;
  font-style: oblique;
  font-size: 4em;
  top: 100px;
  margin-left: 70px;
  border-width: 2px;
  border-color: black;
}

/* posible borrada */
.titulos {
  font-weight: bold;
  color: rgb(31, 145, 56);
  margin-top: 40px;
}

.boton-form {
  background-color: rgb(177, 171, 171) !important;
}

.boton-form:hover {
  background-color: rgb(31, 145, 56) !important;
  transform: scale(1.08);
}

/* posible borrada */
.contenedor-fondo {
  position: relative; /* Necesario para posicionar la capa superpuesta */
  background-image: url("/proyecto_castillo_barberan/assets/img/foto_nosotros.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 30%;
  height: 500px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* posible borrada */
.texto-superpuesto {
  position: relative; /* Asegura que el texto esté encima de la capa */
  z-index: 2; /* Coloca el texto por encima de la capa superpuesta */
  color: white;
  text-align: center;
  padding: 20px;
}

.titulo {
  font-weight: bold;
}

/* posible borrada */
.contenedor-equipo {
  position: relative; /* Necesario para posicionar la capa superpuesta */
  background-image: url("/proyecto_castillo_barberan/assets/img/nosotros_empleados.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 10%;
  height: 100%;
}

/* posible borrada */
.titulo-1 {
  font-weight: bold;
  margin-top: 200px;
  text-align: right;
  margin-right: 480px;
}

/* posible borrada */
.objetivo {
  text-align: right;
  margin-right: 0px;
}


/* posible borrada */
.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Oscurece la imagen con un color negro semitransparente */
  z-index: 1; /* Coloca la capa por encima de la imagen */
}

.formularios {
  background-color: #fff;
  padding: 20px 10px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 0px 0px 55px #2222;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.form-input {
  padding: 6px 20px;
}

.formularios input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #000;
}

.formularios h2 {
  text-align: center;
}

.formularios label {
  width: 100%;
  text-wrap: pretty;
}

.boton_formularios {
  border: 1px solid #000 !important;
  background-color: #dddd !important;
  margin-top: 15px !important;
  max-width: 110px;
}

.boton_formularios:hover {
  border: 1px solid #000;
  transform: scale(1.03);
  background-color: #ddd;
  box-shadow: 0px 0px 15px #0003;
}

#exampleCheck1  {
  width: auto;
}

.form-check-label {
  margin-left: 5px;
  margin-top: 2px;
}


.info-contacto {
  font-size: 18px;
}

/* NOSOTROS */


.container-nosotros {
  border: 5px solid #000;
  background-color: #abd;
  min-height: 650px;
  border-radius: 15px;
  box-shadow: 0px 0px 55px #2222;
  max-width: 90%;
}

.card-nosotros {
  width: 500px;
  padding: 5px;

}

.imagenes-nosotros, .card img {
    width: 100%;
    height: 200px; /* o el alto que prefieras */
    object-fit: cover; /* Esto hace que la imagen rellene el espacio sin deformarse */
    display: block;
}

.texto-nosotros {
  font-size: 17px;
}

/* registrarse */
.boton_registrarse {
  margin-left: 20px;
}

/* Panel de administracion */
.container-panel-admin {
  background-color: #abd;
  border: 3px solid #000;
  box-shadow: 0px 0px 55px #1112;
  border-radius: 15px;
  padding: 20px;
  max-width: 90%;
}

/* Agregar producto */
.formulario-agregar-producto .form-input{
  padding: 5px 5px;
}


.formulario-agregar-producto {
  background-color: #fff;
  padding: 20px 10px;
  margin: 50px auto;
  max-width: 98%;
  border-radius: 8px;
  box-shadow: 0px 0px 55px #2222;
  border: 1px solid #000;
  overflow-x: auto;
}

.lista-productos {
  text-align: center;
  background-color: #fff;
  align-items: left;
  min-width: 30vh;
  margin-bottom: 30px;
  padding: 20px 10px;
  width: 0%;
  border-radius: 8px;
  border: 1px solid #000;
}


.container-listar-productos {
  max-width: 95%;
}


/* Carrito */
.tabla-carrito {
  max-width: 85%;
  margin: auto;
}

.boton-carrito {
  margin-left: 95px;
}

/* editar producto */
.container-editar {
  padding: 0px;
  margin: 0px;
}

.tabla-consultas{
  max-width: 55% !important;
  margin: auto;
}

.tabla-listas {
  width: 100%;
  table-layout: fixed;;
}

.tabla-listas th .tabla-listas td {
  text-align: center;
  overflow: hidden; /* Oculta el contenido que sobrepasa el ancho */
}

.tabla-listas td {
  text-align: center;
}


